* {
	box-sizing: border-box
}

body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
	color: #777;
	font-style: italic;
}

section {
	padding: 60px 0;
}

section header {
	margin-bottom: 70px;
}

a.btn-blue,
.btn-blue {
	background-color: #0ed8d6;
	border: 1px solid #0ed8d6;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #fff;
	transition: all .3s;
	padding: 15px 30px;
}

a.btn-blue:hover,
.btn-blue:hover {
	background-color: #fff;
	border: 1px solid #0ed8d6;
	color: #0ed8d6;
}

h1 {
	font-size: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	color: #333;
}


/*
font-family: 'Droid Serif', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
*/


/* Moje Menu
nav.navbar {
	background-color: #0ed8d6;
}

#logobootstrap {
	color: #fff;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 25px
}
.navbar-default .navbar-nav>li>a {
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}*/


/*Wojtka Menu start*/

#main-nav {
	background-color: transparent;
	border: 0;
}

#main-nav a.navbar-brand {
	font-size: 2em;
	font-family: 'Droid Serif', sans-serif;
	text-transform: none;
	font-style: italic;
}

#main-nav a {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

#main-nav a:hover {
	color: #0ed8d6;
}

#main-nav.scroll {
	background-color: rgba(14, 216, 214, 0.85);
}

#main-nav.scroll a {
	color: #fff;
}

#main-nav.scroll:hover {
	color: #777777;
}


/*Wojtka Menu stop*/


/*Header wojtka start*/

#main-header {
	height: 100vh;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
	background-size: cover;
	position: relative;
}

#main-header .header-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#main-header .header-caption h1 {
	color: #fff;
	margin: 45px 0;
	font-family: 'Montserrat', sans-serif
}

#main-header .header-caption h2 {
	color: #fff;
	font-family: 'Droid Serif', sans-serif;
	font-style: italic;
}


/*Header wojtka stop*/


/* Sekcja services start*/

#services-caption {
	margin-top: 10%;
}

#services-caption>h3 {
	font-size: 3em;
	font-weight: 700;
}

#services-caption>p {
	color: #777777;
	font-style: italic;
}

#icon {
	margin-top: 5%;
}

#services .fa {
	color: #fff;
	background-color: #0ed8d6;
	border: 1px solid #0ed8d6;
	border-radius: 50%;
	line-height: 90px;
	width: 90px;
	height: 90px;
}

#services .fa:hover {
	color: #0ed8d6;
	background-color: #fff;
	border: 1px solid #0ed8d6;
	transform: rotate(360deg);
	transition: all .5s;
}

section#services #icon p {
	color: #777777;
}


/* Sekcja services stop*/


/* Sekcja Portfoli Start */


/*

#portfolio{
	height: 120vh;
	width: 100%;
	background-color: #f7f7f7 ;
}

#portfolio-caption > h3{
	font-size: 3em;
	font-weight: 700;
}
	
#portfolio-caption > p{
	color: #777777;
	font-style: italic;
}

#portfolio .portfolio-img .foto{
	width: 350px;
	height: 350px;
	background-color: #fff;
	padding: 0;
	margin: 30px 0 0 30px;
}

#portfolio .portfolio-img .foto img{
	width: 350px;
	height: 250px;
}
#portfolio .portfolio-img .foto p{
	color: #777777;
	font-style: italic;
	font-size: 0.8em;
}
*/


/*WOJTEK!!!*/

#portfolio {
	background-color: #f7f7f7;
}

h3.section-heading {
	font-size: 3em;
	font-weight: 700;
}

#portfolio .single-portfolio-item {
	background-color: #fff;
	margin-bottom: 20px;
}

#portfolio .portfolio-image-container {
	height: 300px;
	overflow: hidden;
}

#portfolio .single-portfolio-item .portfolio-image {
	background-position: center;
	background-size: cover;
	height: 100%;
	position: relative;
	transition: all .3s;
}

#portfolio .single-portfolio-item .portfolio-image:hover {
	transform: scale(1.2);
}

#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask {
	background-color: rgba(14, 216, 214, 0.85);
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: all .3s;
	cursor: pointer;
}

#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask:hover {
	opacity: 1;
}

#portfolio .single-portfolio-item .portfolio-image .portfolio-image-mask .fa {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 3em;
	margin: auto;
	left: 0;
	right: 0;
}

#portfolio .single-portfolio-item h1 {
	padding-top: 10px;
}

#portfolio .single-portfolio-item p {
	padding-bottom: 25px;
}

#portfolio-item-1 {
	background-image: url(../img/portfolio/box_of_cookies.jpg);
}

#portfolio-item-2 {
	background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#portfolio-item-3 {
	background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio-item-4 {
	background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio-item-5 {
	background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio-item-6 {
	background-image: url(../img/portfolio/typing_on_laptop.jpg);
}


/* Sekcja Portfoli Stop */


/*Sekcja TEAM START*/

#team {
	margin-top: 5%;
}

#team-caption>h3 {
	font-size: 3em;
	font-weight: 700;
}

#team .row .col-sm-4 img {
	width: 235px;
	height: 235px;
	border-radius: 50%;
	margin-top: 25px;
}

#team .row .col-sm-4 .icon .fa {
	color: #fff;
	background-color: #222222;
	border-radius: 50%;
	font-size: 1.5em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 50px;
	transition: all .5s;
}

#team .row .col-sm-4 .icon .fa:hover {
	background-color: #0ed8d6;
	cursor: pointer;
}

#team .team-descryption {
	margin-bottom: 60px;
}


/*Sekcja TEAM STOP*/


/*Sekcja COntact Start*/

#contact {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/footer/world-map.jpg);
	background-size: cover;
	background-position: center;
	height: 90vh;
	width: 100%;
}

#contact header h3 {
	/*	font-size: 3em;*/
	color: #fff;
}

#contact header p {
	color: #fff;
}

#contact input:not([type="submit"]),
#contact textarea {
	width: 100%;
	border: 0px solid;
}

#contact input,
#contact textarea {
	text-transform: uppercase;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
}

#contact input:not(:last-child){
	margin-bottom: 30px;
}

#contact input[type="submit"]{
	margin-top:30px;
}



/*Sekcja Contact Stop*/